* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', arial;
}

body {
  background-color: white;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #f3f4f7;
}

header .header-wrapper {
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 71px;
  z-index: 100;
  position: fixed;
}

@media (max-width: 1158px) {
  header .header-wrapper .social-icons {
    display: none;
  }
}

@media (max-width: 650px) {
  header .header-wrapper .header-wrapper {
    width: 100%;
  }
  header .header-wrapper .nav {
    display: none;
  }
}

@media (max-width: 390px) {
  header .header-wrapper {
    width: 100%;
  }
  header .header-wrapper .nav {
    display: none;
  }
}

header .header-wrapper .logo {
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  margin-top: 25px;
  opacity: 1;
  margin-left: 20px;
}

header .header-wrapper .logo h4 {
  color: #4b4b5a;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 42px;
  padding-top: 2px;
  font-weight: 900;
  font-family: sans-serif;
  letter-spacing: 1px;
}

header .header-wrapper nav {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: none;
  margin-left: 60%;
}

header .header-wrapper nav input[type="search"] {
  border: 1px solid #f3f4f7;
  border-radius: .3rem;
  display: inline-block;
  width: 200px;
  height: 35px;
  background-color: #f3f4f7;
  margin-top: 20px;
  margin-left: 40px;
  padding-left: 20px;
  font-size: 15px;
}

@media (max-width: 700px) {
  header .header-wrapper nav input[type="search"] {
    overflow: hidden;
    display: none;
  }
}

header .header-wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  list-style: none;
  padding-left: 40px;
}

header .header-wrapper nav ul li {
  padding-right: 25px;
}

header .header-wrapper nav ul li a div {
  width: 25px;
  min-height: 25px;
  background-color: none;
  background-repeat: no-repeat;
  background-size: contain;
}

header .header-wrapper nav ul li ahover {
  color: green;
}

.sidebar {
  width: 250px;
  height: 100%;
  background: white;
  padding: 0px 0px;
  position: fixed;
}

@media (max-width: 650px) {
  .sidebar {
    display: none;
  }
}

.sidebar .about {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  min-height: 60px;
  padding: 20px;
  background-color: white;
}

.sidebar .about .admin-pic {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #333;
  background-image: url(https://shreyu.coderthemes.com/assets/images/users/avatar-7.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.sidebar .about .admin-text {
  display: inline-block;
  margin-left: 0;
  width: 138px;
}

.sidebar .about .admin-text h5 {
  font-size: 17px;
  color: #333;
  line-height: 16px;
  font-weight: 300;
}

.sidebar .about .admin-text p {
  font-size: 9px;
  color: grey;
  text-transform: uppercase;
  font-weight: 300;
  padding-top: 10px;
  letter-spacing: 1px;
  font-family: arial;
}

.sidebar .scroll-bar ::-webkit-scrollbar {
  width: 5px;
}

.sidebar .scroll-bar ::-webkit-scrollbar-track {
  background: #fff;
}

.sidebar .scroll-bar ::-webkit-scrollbar-thumb {
  background-color: #d4d4d4;
  border-radius: 8px;
  border: 3px solid #d4d4d4;
}

.sidebar .scroll-bar ::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c;
}

.sidebar .scroll-bar ul {
  width: 250px;
  height: 600px;
  overflow-y: scroll;
}

.sidebar .scroll-bar ul .list-title {
  padding: 15px 30px 10px 30px;
  letter-spacing: .05em;
  pointer-events: none;
  cursor: default;
  font-size: .6875rem;
  text-transform: uppercase;
  color: #4b4b5a;
}

.sidebar .scroll-bar ul .dash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f7ff;
  border-left: 3px solid #5369f8;
}

.sidebar .scroll-bar ul .dash span {
  width: 20px;
  height: 20px;
  color: #fff;
  background-color: #43d39e;
  border-radius: .2rem;
  text-align: center;
  margin-left: 50px;
}

.sidebar .scroll-bar ul .dash a {
  color: #5369f8;
  font-size: 15px;
}

.sidebar .scroll-bar ul .drop {
  display: block;
  background-color: #f7f7f7;
  border-left: 3px solid #5369f8;
}

.sidebar .scroll-bar ul .drop a {
  color: #333;
  font-size: 15px;
}

.sidebar .scroll-bar ul .drop a span {
  width: 20px;
  height: 20px;
  color: #333;
  background-color: white;
  border-radius: .2em;
  text-align: center;
  margin-left: 85px;
}

.sidebar .scroll-bar ul .drop .dropmenu {
  display: block;
  background-color: white;
  height: 0;
  -webkit-transition: all 10s step-end;
  transition: all 10s step-end;
  overflow: hidden;
}

.sidebar .scroll-bar ul .drop .dropmenu ul {
  width: 230px;
  padding: 0;
  margin: 0;
  height: 0;
  -webkit-transition: all 10s step-end;
  transition: all 10s step-end;
  overflow: hidden;
}

.sidebar .scroll-bar ul .drop .dropmenu ul li {
  color: #4b4b5a;
  font-size: 15px;
}

.sidebar .scroll-bar ul li {
  cursor: pointer;
}

.sidebar .scroll-bar ul li:hover {
  color: #5369f8;
  background-color: #f7f7ff;
  border-left: 3px solid #5369f8;
}

.sidebar .scroll-bar ul li:hover > .dropmenu {
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  height: 145px;
}

.sidebar .scroll-bar ul li:hover > .dropmenu ul {
  height: 145px;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.sidebar .scroll-bar ul li a {
  color: #4b4b5a;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.sidebar .scroll-bar ul li a:hover {
  color: #5369f8;
  background-color: #f7f7ff;
}

.sidebar .scroll-bar ul li a .fas {
  width: 30px;
}

.sidebar .scroll-bar ul li a .far {
  width: 30px;
}

.card-content {
  /*margin: 20px;*/
  color: #717171;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  padding-left: 20px;
}

@media (max-width: 1150px) {
  .card-content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .card-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.card-content .cards {
  /*margin-left: 20px;*/
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 5px;
  /*padding-top: 10px;*/
}

.card-content .cards .text {
  border-top: 1px solid white;
  display: block;
  text-align: left;
  padding-top: 10px;
  padding-left: 8px;
}

.card-content .cards .text h4 {
  font-family: arial;
  font-size: 14px;
  color: grey;
  padding: 5px;
  letter-spacing: 1px;
  font-weight: 300;
}

.card-content .cards .text p {
  color: #333;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 31px;
  font-family: arial;
  padding: 5px;
}

.card-content .cards .dash {
  width: 100px;
  height: 80px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 5px;
}

.header {
  padding: 20px;
  background: #EDEEEE;
  color: #f8f9fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1150px) {
  .header button {
    display: none;
  }
}

@media (max-width: 650px) {
  .header button {
    display: none;
  }
  .header .cal {
    display: none;
  }
}

.header h4 {
  background-color: none;
  margin-left: 20px;
  color: #333;
  font-family: arial;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 19px;
}

.header input[type="calendar"] {
  border: 1px solid #f3f4f7;
  border-radius: .3rem;
  display: inline-block;
  width: 180px;
  height: 35px;
  background-color: #f3f4f7;
  margin-left: 55%;
  padding-left: 20px;
  font-size: 15px;
}

@media (max-width: 980px) {
  .header input[type="calendar"] {
    overflow: hidden;
  }
}

.header button {
  border: 1px solid #5369f8;
  border-radius: .3rem;
  width: 150px;
  height: 35px;
  background-color: #5369f8;
  margin-left: 0;
  font-size: 15px;
  cursor: pointer;
  margin-left: 20px;
}

.header button:hover {
  background-color: #97A4F3;
}

.header button a {
  color: white;
}

.revenue-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 20px;
  padding-top: 20px;
  padding-left: 20px;
}

@media (max-width: 1150px) {
  .revenue-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .revenue-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.revenue-section .cards {
  min-height: 350px;
  background-color: white;
  display: block;
  padding-top: 15px;
  border-radius: 5px;
}

.revenue-section .cards h4 {
  color: #4b4b5a;
  font-size: 16px;
  padding-left: 20px;
  padding-bottom: 33px;
  font-weight: bold;
}

.revenue-section .cards .text {
  display: block;
  padding: 20px;
  text-align: left;
  border-top: 1px solid grey;
}

.revenue-section .cards .text h5 {
  color: #333;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
}

.revenue-section .cards .text p {
  color: #333;
  font-size: 14px;
  font-weight: 300;
  padding-top: 10px;
}

.revenue-section .cards .chart {
  background-color: khaki;
  min-height: 280px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.revenue-section .cards .target-chart {
  margin-left: 10px;
  background-color: none;
  min-height: 280px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.review-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: #EDEEEE;
}

@media (max-width: 1150px) {
  .review-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .review-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 320px) {
  .review-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.review-content .cards {
  min-height: 450px;
  background-color: white;
  display: block;
  padding-top: 15px;
  border-radius: 5px;
}

.review-content .cards h4 {
  color: #4b4b5a;
  font-size: 16px;
  padding-left: 20px;
  padding-bottom: 33px;
  font-weight: bold;
}

.review-content .cards ul {
  display: block;
  list-style: none;
  text-decoration: none;
  background-color: none;
}

.review-content .cards ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #f6f6f7;
  padding-left: 10px;
}

.review-content .cards ul li .text {
  display: block;
  padding: 10px;
  color: #6c757d;
}

.review-content .cards ul li .text h5 {
  font-size: 15px;
  font-weight: 400;
  color: #333;
}

.review-content .cards ul li .text p {
  font-size: 12px;
}

.review-content .cards ul li .pic {
  width: 50px;
  min-height: 50px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  background-image: url(./imgs/web.png);
}

.review-content .task-cards {
  min-height: 380px;
  background-color: white;
  display: block;
  padding-top: 15px;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.review-content .task-cards ::-webkit-scrollbar {
  width: 5px;
}

.review-content .task-cards ::-webkit-scrollbar-track {
  background: #fff;
}

.review-content .task-cards ::-webkit-scrollbar-thumb {
  background: #7c7c7c;
  border-radius: 8px;
  border: 3px solid #d4d4d4;
}

.review-content .task-cards ::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c;
}

.review-content .task-cards h4 {
  color: #4b4b5a;
  font-size: 16px;
  padding-left: 20px;
  padding-bottom: 33px;
  font-weight: bold;
}

.review-content .task-cards ul {
  display: block;
  list-style: none;
  text-decoration: none;
  background-color: none;
  overflow-y: scroll;
  width: 90%;
  height: 380px;
}

.review-content .task-cards ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
}

.review-content .task-cards ul li .task-text {
  display: block;
  padding: 10px;
  color: #6c757d;
  padding: 15px;
}

.review-content .task-cards ul li .task-text h5 {
  font-size: 15px;
  font-weight: 500;
  color: #6c757d;
}

.review-content .task-cards ul li .task-text p {
  font-size: 12px;
}

.review-content .chatcards {
  height: 450px;
  background-color: #Fff;
  display: block;
  padding-top: 15px;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.review-content .chatcards ::-webkit-scrollbar {
  width: 5px;
}

.review-content .chatcards ::-webkit-scrollbar-track {
  background: #fff;
}

.review-content .chatcards ::-webkit-scrollbar-thumb {
  background: #7c7c7c;
  border-radius: 8px;
  border: 3px solid #d4d4d4;
}

.review-content .chatcards ::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c;
}

.review-content .chatcards h4 {
  color: #4b4b5a;
  font-size: 16px;
  padding-left: 20px;
  padding-bottom: 33px;
  font-weight: bold;
}

.review-content .chatcards .chat-wrapper {
  min-height: 380px;
  background-color: white;
  display: block;
  padding-top: 15px;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.review-content .chatcards .chat-wrapper ul {
  display: block;
  grid-gap: 10px;
  list-style: none;
  text-decoration: none;
  background-color: none;
  width: 90%;
  height: 320px;
  background-color: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: scroll;
}

.review-content .chatcards .chat-wrapper ul li {
  width: 100%;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 50px;
}

.review-content .chatcards .chat-wrapper ul li .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #f0f2fe transparent transparent transparent;
  position: absolute;
  margin-left: -20px;
  margin-top: -10px;
  position: -webkit-sticky;
  position: sticky;
}

.review-content .chatcards .chat-wrapper ul li .pic {
  width: 50px;
  min-height: 40px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100%;
}

.review-content .chatcards .chat-wrapper ul li .text {
  width: 200px;
  color: #5369f8;
  background-color: #f0f2fe;
  display: inline-block;
  border-radius: 8px;
  height: 50px;
  margin: 10px;
  padding: 10px;
}

.review-content .chatcards .chat-wrapper ul li .text h6 {
  font-size: 12px;
}

.review-content .chatcards .chat-wrapper ul li .text p {
  font-size: 11px;
}

.review-content .chatcards .chat-wrapper ul li .text-sh {
  width: 200px;
  color: #333;
  background-color: #f0f2fe;
  display: inline-block;
  border-radius: 8px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
}

.review-content .chatcards .chat-wrapper ul li .text-sh h6 {
  font-size: 12px;
}

.review-content .chatcards .chat-wrapper ul li .text-sh p {
  font-size: 11px;
}

.review-content .chatcards .chat-wrapper ul li .text-sh .triangle-sh {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #f0f2fe transparent transparent transparent;
  position: absolute;
  margin-left: 180px;
  padding-top: 30px;
  margin-top: -47px;
  position: -webkit-sticky;
  position: sticky;
}

.review-content .chatcards .chat-wrapper ul li .texttext {
  width: 200px;
  color: #5369f8;
  background-color: white;
  display: inline-block;
  border-radius: 8px;
  height: 50px;
  margin: 10px;
  padding: 10px;
}

.review-content .chatcards .conv {
  border: 1px solid grey;
  border-radius: .3rem;
  display: inline-block;
  width: 200px;
  height: 35px;
  background-color: #f3f4f7;
  font-size: 15px;
  margin-left: 20px;
  padding-left: 10px;
}

.review-content .chatcards button {
  width: 50px;
  height: 35px;
  background-color: #ff5c75;
  font-size: 15px;
  border: 1px solid white;
  border-radius: .3rem;
  color: white;
  margin-left: 40px;
  margin-top: 5px;
}

.sale-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.4fr;
      grid-template-columns: 1fr 1.4fr;
  grid-gap: 30px;
  background-color: none;
  padding-top: 20px;
  padding-left: 20px;
  overflow: hidden;
}

@media (max-width: 980px) {
  .sale-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 625px) {
  .sale-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .sale-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.sale-content .cards {
  min-height: 350px;
  background-color: white;
  display: block;
  padding-top: 15px;
  border-radius: 5px;
}

.sale-content .cards h4 {
  color: #4b4b5a;
  font-size: 16px;
  padding-left: 20px;
  padding-bottom: 33px;
  font-weight: bold;
}

.sale-content .cards .circle-chart {
  margin: 15px;
  background-color: khaki;
  text-align: center;
  vertical-align: middle;
  min-height: 220px;
  width: 220px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.sale-content .table-cards {
  min-height: 350px;
  background-color: white;
  display: block;
  padding-top: 15px;
  border-radius: 5px;
}

.sale-content .table-cards h4 {
  color: #4b4b5a;
  font-size: 16px;
  padding-left: 20px;
  padding-bottom: 33px;
  font-weight: bold;
}

.sale-content .table-cards table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
  min-height: 250px;
  width: 100%;
  color: #6c757d;
}

.sale-content .table-cards table tr:hover {
  color: #6c757d;
  background-color: #f6f6f7;
}

.sale-content .table-cards table tr .td-pen {
  background-color: rgba(255, 190, 11, 0.2);
  color: #ffbe0b;
  border: 2px solid rgba(255, 190, 11, 0.2);
  border-radius: 5px;
}

.sale-content .table-cards table tr .td-del {
  background-color: rgba(67, 211, 158, 0.2);
  color: #43d39e;
  border: 2px solid rgba(67, 211, 158, 0.2);
  border-radius: 5px;
}

.sale-content .table-cards table tr .td-dec {
  background-color: rgba(255, 92, 117, 0.2);
  color: #ff5c75;
  border: 2px solid rgba(255, 92, 117, 0.2);
  border-radius: 5px;
}

.sale-content .table-cards table tr th {
  background: none;
  color: #333;
  padding: 10px 20px;
  border-bottom: 2px solid #f6f6f7;
}

.sale-content .table-cards table tr th, .sale-content .table-cards table tr td {
  border-bottom: 2px solid #f6f6f7;
  border-top: 1px solid #f6f6f7;
  border-width: 1px;
  padding-left: 10px;
}

.sale-content .table-cards table tr td {
  background: none;
}

.sale-content .table-cards table tr th:first-child, .sale-content .table-cards table tr td:first-child {
  text-align: left;
}

.main-content {
  width: 100%;
  padding-left: 250px;
  padding-right: 20px;
  margin-right: auto;
  background: #EDEEEE;
}

.main-content h4 {
  font-family: arial;
  font-size: 14px;
  color: #6c757d;
  padding: 5px;
  letter-spacing: 1px;
  font-weight: 300;
}

@media (max-width: 650px) {
  .main-content {
    width: 100%;
    padding: 0;
    padding-right: 10px;
  }
}

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 71px;
}
/*# sourceMappingURL=main.css.map */