header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #f3f4f7;
}

header .header-wrapper {
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 71px;
  z-index: 100;
  position: fixed;
}

@media (max-width: 1158px) {
  header .header-wrapper .social-icons {
    display: none;
  }
}

@media (max-width: 700px) {
  header .header-wrapper .header-wrapper {
    width: 100%;
  }
  header .header-wrapper .nav {
    display: none;
  }
}

@media (max-width: 320px) {
  header .header-wrapper {
    width: 100%;
  }
  header .header-wrapper .nav {
    display: none;
  }
}

header .header-wrapper .logo {
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  margin-top: 25px;
  opacity: 1;
  margin-left: 20px;
}

header .header-wrapper .logo h4 {
  color: #4b4b5a;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 42px;
  padding-top: 2px;
  font-weight: 900;
  font-family: sans-serif;
  letter-spacing: 1px;
}

header .header-wrapper nav {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: none;
  margin-left: 60%;
}

header .header-wrapper nav input[type="search"] {
  border: 1px solid #f3f4f7;
  border-radius: .3rem;
  display: inline-block;
  width: 200px;
  height: 35px;
  background-color: #f3f4f7;
  margin-top: 20px;
  margin-left: 40px;
  padding-left: 20px;
  font-size: 15px;
}

@media (max-width: 700px) {
  header .header-wrapper nav input[type="search"] {
    overflow: hidden;
  }
}

header .header-wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  list-style: none;
  padding-left: 40px;
}

header .header-wrapper nav ul li {
  padding-right: 25px;
}

header .header-wrapper nav ul li a div {
  width: 25px;
  min-height: 25px;
  background-color: none;
  background-repeat: no-repeat;
  background-size: contain;
}

header .header-wrapper nav ul li ahover {
  color: green;
}

.sidebar {
  width: 250px;
  height: 100%;
  background: white;
  padding: 0px 0px;
  position: fixed;
}

.sidebar .about {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  min-height: 60px;
  padding: 20px;
  background-color: white;
}

.sidebar .about .admin-pic {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #333;
  background-image: url(https://shreyu.coderthemes.com/assets/images/users/avatar-7.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.sidebar .about .admin-text {
  display: inline-block;
  margin-left: 0;
  width: 138px;
}

.sidebar .about .admin-text h5 {
  font-size: 17px;
  color: #333;
  line-height: 16px;
  font-weight: 300;
}

.sidebar .about .admin-text p {
  font-size: 9px;
  color: grey;
  text-transform: uppercase;
  font-weight: 300;
  padding-top: 10px;
  letter-spacing: 1px;
  font-family: arial;
}

.sidebar .scroll-bar ::-webkit-scrollbar {
  width: 5px;
}

.sidebar .scroll-bar ::-webkit-scrollbar-track {
  background: #fff;
}

.sidebar .scroll-bar ::-webkit-scrollbar-thumb {
  background-color: #d4d4d4;
  border-radius: 8px;
  border: 3px solid #d4d4d4;
}

.sidebar .scroll-bar ::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c;
}

.sidebar .scroll-bar ul {
  width: 250px;
  height: 600px;
  overflow-y: scroll;
}

.sidebar .scroll-bar ul .list-title {
  padding: 15px 30px 10px 30px;
  letter-spacing: .05em;
  pointer-events: none;
  cursor: default;
  font-size: .6875rem;
  text-transform: uppercase;
  color: #4b4b5a;
}

.sidebar .scroll-bar ul .dash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f7ff;
  border-left: 3px solid #5369f8;
}

.sidebar .scroll-bar ul .dash span {
  width: 20px;
  height: 20px;
  color: #fff;
  background-color: #43d39e;
  border-radius: .2rem;
  text-align: center;
  margin-left: 50px;
}

.sidebar .scroll-bar ul .dash a {
  color: #5369f8;
  font-size: 15px;
}

.sidebar .scroll-bar ul .drop {
  display: block;
  background-color: #f7f7f7;
  border-left: 3px solid #5369f8;
}

.sidebar .scroll-bar ul .drop a {
  color: #333;
  font-size: 15px;
}

.sidebar .scroll-bar ul .drop a span {
  width: 20px;
  height: 20px;
  color: #333;
  background-color: white;
  border-radius: .2em;
  text-align: center;
  margin-left: 70px;
}

.sidebar .scroll-bar ul .drop .dropmenu {
  display: block;
  background-color: white;
  height: 0;
}

.sidebar .scroll-bar ul .drop .dropmenu ul {
  width: 240px;
  padding: 0;
  margin: 0;
  height: 0;
}

.sidebar .scroll-bar ul .drop .dropmenu ul li {
  color: #4b4b5a;
  font-size: 15px;
}

.sidebar .scroll-bar ul li {
  cursor: pointer;
}

.sidebar .scroll-bar ul li:hover {
  color: #5369f8;
  background-color: #f7f7ff;
  border-left: 3px solid #5369f8;
}

.sidebar .scroll-bar ul li:hover > .dropmenu {
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  height: 150px;
}

.sidebar .scroll-bar ul li:hover > .dropmenu ul {
  height: 150px;
}

.sidebar .scroll-bar ul li a {
  color: #4b4b5a;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.sidebar .scroll-bar ul li a:hover {
  color: #5369f8;
  background-color: #f7f7ff;
}

.sidebar .scroll-bar ul li a .fas {
  width: 30px;
}

.sidebar .scroll-bar ul li a .far {
  width: 30px;
}
/*# sourceMappingURL=components.css.map */