@import "main-content/card-content";
@import "main-content/main-content-header";
@import "main-content/revenue-section";
@import "main-content/review-content";
@import "main-content/sale-content";

.main-content{
    width: 100%;
    padding-left: 250px;
    padding-right: 20px;
    margin-right: auto;
    background: $bgc;

    h4{
        font-family: arial;
        font-size: 14px;
        color: $gray;
        padding: 5px;
        letter-spacing: 1px;
        font-weight: 300;
    }
}